.get
  background: url(../img/bg5.png) no-repeat
  background-size: cover
  background-position: center top
  margin-top: -218px
  padding-top: 218px
  padding-bottom: 50px
  z-index: 2
  &__wrapper
    margin-top: 130px
  &__left
    width: 35%
  &__right
    width: 62%
  &__header
    font-family: $copiright
    font-size: 48px
    font-weight: 400
    color: $darkBlue2
  &__img-block
    img
      position: relative
      left: -40px
  &__items
    column-count: 2
    margin-top: 75px
    opacity: .999
  &__item
    width: 345px
    height: 238px
    padding-top: 37px
    padding-left: 42px
    box-sizing: border-box
  &__item1
    background: url(../img/get_text1.png) no-repeat
  &__item2
    background: url(../img/get_text3.png) no-repeat
  &__item3
    background: url(../img/get_text2.png) no-repeat
    span
      margin-top: 11px
  &__item4
    background: url(../img/get_text4.png) no-repeat
  &__item-title
    font-family: $coco
    font-size: 25px
    font-weight: 900
    color: $darkBlue2
  &__item-txt
    display: inline-block
    font-family: $coco
    font-size: 17px
    font-weight: 400
    color: $greyBlue
    margin-top: 25px




