.system
  background: url(../img/bg2.png) no-repeat center center
  background-size: cover
  z-index: 5
  margin-top: -95px
  padding-top: 95px
  padding-bottom: 50px
  box-sizing: border-box
  &__left
    width: 45%
  &__right
    width: 50%
  &__header
    width: 100%
    font-family: $copiright
    font-size: 48px
    font-weight: 400
    color: $darkBlue2
    display: block
    text-align: center
    position: relative
    margin-top: 100px
    &:after
      content: ""
      width: 624px
      height: 49px
      background: url(../img/system_shadow.png) no-repeat
      position: absolute
      top: 6px
      left: -30px
      opacity: .2
  &__circle-block
    margin-top: 20px
    width: 100%

