.footer
  background-color: #09080c
  z-index: 1
  margin-top: -50px
  padding-top: 50px
  padding-bottom: 180px
  overflow: hidden
  position: relative
  +respond-to(720)
    background-repeat: no-repeat
    background-position: center bottom
    padding-bottom: 98px
  +respond-to(480)
    padding-bottom: 90px
  &__header
    display: block
    padding-top: 65px
    font-family: $copiright
    font-size: 48px
    font-weight: 400
    color: $white
    text-align: center
    margin-bottom: 100px
    +respond-to(480)
      font-size: 31px
      margin-bottom: 27px
  &__mob-block
    display: none
    position: relative
    width: 100%
    z-index: 1
    +respond-to(992)
      display: block
    img
      width: 100%
      min-width: 290px
      position: relative
      left: 50%
      transform: translateX(-50%)
  &__mob-txt
    font-family: $coco
    font-size: 25px
    font-weight: 400
    color: $white
    position: absolute
    left: 50%
    transform: translateX(-50%)
    +respond-to(600)
      font-size: 3.5vw
    span
      display: inline-block
      width: max-content
  &__mob-txt1
    top: 16%
  &__mob-txt2
    top: 45%
  &__mob-txt3
    bottom: 25%
  &__items
    width: 880px
    margin: 0 auto
    position: relative
    z-index: 1
    +respond-to(992)
      display: none
    &:after
      content: ""
      width: 308px
      height: 180px
      background: url(../img/footer_arrow.png) no-repeat
      position: absolute
      bottom: -178px
      right: -55px
  &__item
    width: calc(100% / 3 - 8px)
    border-left: 1px solid $greyBlue
    padding-left: 15px
    padding-top: 17px
    padding-bottom: 30px
    box-sizing: border-box
    position: relative
    &:before
      content: ""
      width: 100%
      height: 3px
      background: $yellow
      position: absolute
      bottom: -9px
      left: 7px
    &:after
      content: ""
      width: 119px
      height: 119px
      background: url(../img/point.png) no-repeat
      position: absolute
      bottom: -67px
      left: -60px
      z-index: 0
    img
      display: block
    span
      font-family: $coco
      font-size: 19px
      font-weight: 400
      color: $white
      display: block
      padding-top: 13px
  &__btn-block
    display: inline-block
    position: relative
    left: 50%
    transform: translateX(-50%)
    z-index: 1
    margin-top: 108px
    +respond-to(720)
      margin-top: 0
    +respond-to(480)
      margin-top: -32px
      width: 303px
  &__btn
    display: inline-block
    width: 327px
    height: 83px
    background: url(../img/header_btn.png) no-repeat
    text-decoration: none
    font-family: $coco
    font-size: 22px
    font-weight: 700
    color: $white
    text-transform: uppercase
    line-height: 83px
    text-align: center
    opacity: .999
    position: relative
    top: 17px
    left: 21px
    z-index: 1
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7)
    +respond-to(480)
      background: url(../img/header_btn_mob.png) no-repeat
      font-size: 16px
      width: 264px
      height: 82px
    &:before
      content: ""
      width: 368px
      height: 118px
      background: url(../img/header_btn_bd.png) no-repeat
      position: absolute
      top: -16px
      left: -21px
      z-index: 1
      object-fit: cover
      +respond-to(480)
        background: url(../img/header_btn_bd_mob.png) no-repeat
        top: 0
        left: 0
.smoke
  display: none
  width: 100%
  height: 100%
  position: absolute
  bottom: 0
  left: 0
  right: 0
  z-index: 1
  +respond-to(720)
    display: block

.smoke_desc
  width: 100%
  height: 100%
  position: absolute
  bottom: 0
  left: 0
  right: 0
  z-index: 1
  +respond-to(720)
    display: none

.footer_point
  //display: none
  position: absolute
  bottom: 0
  left: 50%
  transform: translateX(-50%)
  z-index: 0
  +respond-to(720)
    bottom: -28px

